@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.flex {
    display: flex;
    align-items: center;
}

.nav_image {
    display: flex;
    min-width: 50px;
    justify-content: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85px;
    background: black;
    color: white;
    padding: 15px;
    box-shadow: 0 0 60px #13326E;
    transition: all 0.4s ease;
    overflow: hidden;
    z-index: 1;
}

.sidebar:hover {
    width: 250px;
}

/* Esconder/Mostrar logo */
.logo.open {
    display: none;
}

.logo.closed {
    max-width: 45px;
    animation: x 0.2s ease-in-out both;
}

@keyframes x {
    0% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0px);
    }
}

.sidebar:hover .logo.closed {
    display: none;
}


.sidebar:hover .logo.open {
    display: block;
}

#logoSidebarOpen {
    width: 150px;
    margin-left: 20px;
    margin-top: 20px;
    animation: x 0.2s ease-in-out both;
}

.sidebar.close {
    width: calc(55px + 20px);
}

.logo_items {
    gap: 8px;
    transition: 1s ease-in-out;
}

.logo_name {
    font-size: 22px;
    color: white;
    font-weight: 500px;
    transition: all 0.3s ease;
}

.sidebar.close .logo_name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close {
    opacity: 0;
    pointer-events: none;
}

#lock-icon,
#sidebar-close {
    padding: 10px;
    color: #4070f4;
    font-size: 25px;
    cursor: pointer;
    margin-left: -4px;
    transition: all 0.3s ease;
}

#sidebar-close {
    display: none;
    color: #333;
}

.menu_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    overflow-y: auto;
    height: calc(100% - 82px);
    transition: 1s ease-in-out;

}

.menu_container::-webkit-scrollbar {
    display: none;
}

.menu_title {
    position: relative;
    height: 50px;
    width: 55px;
}

.menu_title .title {
    margin-left: 15px;
    transition: all 0.3s ease;
}

.sidebar.close .title {
    opacity: 0;
}

.menu_title .line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 20px;
    border-radius: 25px;
    background: #aaa;
    transition: 0.2s ease-in-out;
}

.menu_title .line {
    opacity: 0;
}

.sidebar.close .line {
    opacity: 1;
}

.item {
    list-style: none;
}

.link {
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 8px;
    color: white;
}

.link:hover {
    color: #fff;
    background: linear-gradient(180deg, #13326E, #264FAB, #4077FF);
    animation: animacao_link 0.1s ease-in-out;
}

@keyframes animacao_link {
    0% {
        background: linear-gradient(180deg, #13316e7a, #264eab73, #4076ff6e);
    }

    100% {
        background: linear-gradient(180deg, #13326E, #264FAB, #4077FF);
    }

}

.link i {
    height: 75px;
    min-width: 55px;
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.sidebar_profile {
    padding-top: 15px;
    margin-top: 15px;
    gap: 15px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.sidebar_profile .name {
    font-size: 18px;
    color: white;
}

.sidebar_profile .email {
    font-size: 15px;
    color: white;
}

#sidebar-open {
    font-size: 30px;
    color: #333;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

/* Responsive */
@media screen and (max-width: 1100px) {
    .navbar {
        left: 65%;
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
        left: 0;
        z-index: 1000;
    }

    .sidebar.close {
        left: -100%;
    }

    #sidebar-close {
        display: block;
    }

    #lock-icon {
        display: none;
    }

    .navbar {
        left: 0;
        max-width: 100%;
        transform: translateX(0%);
    }

    #sidebar-open {
        display: block;
    }
}

.section_apoiadores {
    background: rgb(64, 119, 255);
    background: radial-gradient(circle, rgba(64, 119, 255, 1) 0%, rgba(19, 50, 110, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 115dvh;
}

.section_apoiadores #BANNER_APOIADORES {
    max-width: 100%;
    margin-bottom: 450px;
}

.section_apoiadores h1 {
    color: white;
    top: 5%;
    left: 35%;
    font-size: 150px;
    position: absolute;
    text-align: end;
    z-index: 1;
}

.section_apoiadores p {
    color: white;
    text-align: end;
    top: 30%;
    left: 20%;
    position: absolute;
    max-width: 1200px;
}

.section_apoiadores #fundo {
    position: absolute;
    max-width: 100%;
    object-fit: cover;
    filter: drop-shadow(0 0 50px #4077FF);
}

.section_apoiadores .apoiadores {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
}

#LOGO_YOUTAN {
    width: var(--card-width);
    height: var(--card-height);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: perspective(10000px) translateY(9%) translateX(-210%) rotateX(35deg) rotateY(-11deg);
    z-index: 1;
    transition: 0.2s ease-in-out;
}

#LOGO_AAPM {
    width: var(--card-width);
    height: var(--card-height);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: perspective(10000px) translateY(65%) translateX(-70%) rotateX(35deg) rotateY(1deg);
    z-index: 3;
    transition: 0.2s ease-in-out;
}

#LOGO_DEEPESG {
    width: var(--card-width);
    height: var(--card-height);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: perspective(10000px) translateY(58%) translateX(90%) rotateX(35deg) rotateY(1deg);
    z-index: 2;
    transition: 0.2s ease-in-out;
}

#LOGO_MA-IA {
    width: var(--card-width);
    height: var(--card-height);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: perspective(10000px) translateY(28%) translateX(175%) rotateX(35deg) rotateY(1deg);
    z-index: 1;
    transition: 0.2s ease-in-out;
}

.card .imagem_cover {
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
    filter: drop-shadow(0 0 25px black);
}

.card:hover .moldura {
    transform: translateY(-50%) translateX(0) rotateY(0deg);
    border-radius: 10px;
    box-shadow: 0px 0px 80px #4070f4;
    border: 1px solid #13326E;
    background: transparent;
    backdrop-filter: blur(10px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 20px;
    width: 290px;
    height: 200px;
    transition: 0.2s ease-in-out;
}

.card:hover .imagem_cover {
    width: 250px;
}


.moldura {
    transition: 0.2s ease-in-out;
    position: absolute;
    z-index: -1;
    transform: perspective(100px) translateY(-5%) rotateX(25deg) translateZ(0);
}

/* SECTION 2SECTION 2SECTION 2SECTION 2SECTION 2SECTION 2SECTION 2SECTION 2SECTION 2SECTION 2 */

.patrocinadores {
    height: 110dvh;
    background: linear-gradient(360deg, #13326E, #264FAB, #264FAB, #4077FF, #4077FF);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.patrocinadores h1 {
    font-size: 60px;
    text-align: center;
    color: white;
}

.cards h1 {
    color: black;
    font-size: 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.card_patrocinadores {
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 30px #13326E;
    background-color: white;
    padding: 50px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    background-color: #13326E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}


footer p {
    color: white;
    margin: 5px;
}