@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.flex {
  display: flex;
  align-items: center;
}

.nav_image {
  display: flex;
  min-width: 50px;
  justify-content: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 85px;
  background: black;
  color: white;
  padding: 18px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  overflow: hidden;
  z-index: 999;
}

.sidebar:hover {
  width: 250px;
}

.sidebar.close {
  width: calc(55px + 20px);
}

.logo_items {
  gap: 8px;
  transition: 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_name {
  font-size: 22px;
  color: white;
  font-weight: 500px;
  transition: all 0.3s ease;
}

.sidebar.close .logo_name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close {
  opacity: 0;
  pointer-events: none;
}

#lock-icon,
#sidebar-close {
  padding: 10px;
  color: #4070f4;
  font-size: 25px;
  cursor: pointer;
  margin-left: -4px;
  transition: all 0.3s ease;
}

#sidebar-close {
  display: none;
  color: #333;
}

.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  overflow-y: auto;
  transition: 1s ease-in-out;

}

.menu_container::-webkit-scrollbar {
  display: none;
}

.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}

.menu_title .title {
  margin-left: 15px;
  transition: all 0.3s ease;
}

.sidebar.close .title {
  opacity: 0;
}

.menu_title .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: #aaa;
  transition: 0.2s ease-in-out;

}

.menu_title .line {
  opacity: 0;
}

.sidebar.close .line {
  opacity: 1;
}

.item {
  list-style: none;

}

.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 7.5px;
  color: white;
}

.link:hover {
  color: #fff;
  background: linear-gradient(180deg, #13326E, #264FAB, #4077FF);
  animation: animacao_link 0.1s ease-in-out;
}

@keyframes animacao_link {
  0% {
    background: linear-gradient(180deg, #13316e7a, #264eab73, #4076ff6e);
  }

  100% {
    background: linear-gradient(180deg, #13326E, #264FAB, #4077FF);
  }

}

.link span {
  white-space: nowrap;

}

.link i {
  height: 60px;
  min-width: 50px;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.sidebar_profile {
  padding-top: 15px;
  margin-top: 15px;
  gap: 15px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.sidebar_profile .name {
  font-size: 18px;
  color: white;
}

.sidebar_profile .email {
  font-size: 15px;
  color: white;
}

#sidebar-open {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}

/* Responsive */
@media screen and (max-width: 1100px) {
  .navbar {
    left: 65%;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    left: 0;
    z-index: 1000;
  }

  .sidebar.close {
    left: -100%;
  }

  #sidebar-close {
    display: block;
  }

  #lock-icon {
    display: none;
  }

  .navbar {
    left: 0;
    max-width: 100%;
    transform: translateX(0%);
  }

  #sidebar-open {
    display: block;
  }
}

/* Frase de Destaque */
#frase {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(180deg, #001f3f, #00356d);
  color: white;
}

#frase h1 {
  font-size: 40px;
  font-weight: bold;
  animation: piscar 1s infinite alternate;
}

/* Animação do Texto */
@keyframes piscar {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.6;
  }
}


/* CONTAGEM REGRESSIVA */
#contagem {
  text-align: center;
  padding: 50px 20px;
  background: #00356d;
  color: white;
}

#timer {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 28px;
}

.timer-box {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  min-width: 80px;
}

/* Participe da competição */
#participe {
  background: linear-gradient(135deg, #007BFF, #00356d);
  padding: 70px;
}

#container-participe {
  background: linear-gradient(135deg, #00356d, #007BFF);
  color: white;
  text-align: center;
  padding: 50px 20px;
  border-radius: 15px;
  max-width: 900px;
  margin: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#participe p {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.6;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#participe .btn {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 25px;
  font-size: 18px;
  color: white;
  background: #007bff83;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

#participe .btn:hover {
  background: #0055b1;
  transform: scale(1.05);
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.4);
}

#participe h2,
#saiba-mais h2 {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
  text-shadow: 2px 2px rgba(0, 0, 0, 10);
}

/* Saiba mais */
#saiba-mais {
  text-align: center;
  padding: 60px;
  background: linear-gradient(135deg, #00356d, #007BFF);
}

.container-saiba-mais {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card .img-icon {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 20px;
}

.card h3 {
  color: #00356d;
}

.card a {
  display: block;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}